---
layout: test
---
<div class="relative py-3 mb-10 sm:max-w-full sm:mx-auto mb-32">
    <div class="absolute inset-0 bg-gradient-to-r from-blue-500 to-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <section class="relative bg-white shadow-lg sm:rounded-3xl sm:p-6">
        {% set workslist = collections.work %}

        {% for work in workslist | reverse %}
            <article class="my-3 pb-12 p-6 border border-gray-400 dark:border-gray-200 rounded">
                <div class="flex">
                    <a href="{{ work.url | url }}">
                        <img class="max-w-xs" src="{{ work.data.thumbnail }}" alt="{{ thumbnail }}">
                    </a>
                    <div class="break-words overflow-ellipsis overflow-hidden pt-2 pl-4 pr-2 w-80 h-52">
                        <h2 class="font-bold text-indigo-500 text-3xl mb-2 pt-1">
                            <a href="{{ work.url | url }}">
                                {% if work.data.title %}
                                    {{ work.data.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </a>
                        </h2>
                        <p class="text-base leading-6 text-gray-600 dark:text-gray-400 mb-3">
                                by
                                <a class="text-black dark:text-white">{{ work.data.author }}</a>
                        </p>
                        {% if work.data.description %}
                            <p class="text-lg text-gray-500 mb-3">
                                {{ work.data.description }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <p>
                    <a href="{{ work.url | url }}" class=" text-black dark:text-white float-right font-bold text-lg">
                        Read more →
                    </a>
                </p>
        
            </article>
        {% endfor %}
    </section>
</div>
