---
layout: test
---
<div class="relative py-3 mb-10 sm:max-w-full sm:mx-auto mb-32">
    <div class="absolute inset-0 bg-gradient-to-r from-blue-500 to-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <section class="relative bg-white shadow-lg sm:rounded-3xl sm:p-6">
        <div class="m-10 border border-red-300">
            {% set postslist = collections.test %}

            {% for post in postslist | reverse %}
                <article class="my-3 pb-12 p-6 border border-gray-400 dark:border-gray-200 rounded ">
                    <h2 class="font-bold text-indigo-500 text-3xl mb-2 pt-1">
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                    </h2>
                        by
                        <a class=" text-black dark:text-white">{{ post.data.author }}</a>
                    {% if post.data.description %}
                        <p class="text-lg text-gray-500 mb-3">
                            {{ post.data.description }}
                        </p>
                    {% endif %}

                </article>
            {% endfor %}
        </div>
    </section>
</div>
