<footer class="fixed bottom-0 w-full py-4">
    <small class="text-gray-500 float-left ml-12">Copyright ©
        {{settings.name}}
        2020.
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small>
    <small class="text-gray-500 float-right mr-12">Made with ❤ by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        Edited by <span class="underline">Uzer</span>
    </small>
</footer>
